In [235]:
# we use tips dataset

In [236]:
import seaborn as sns
import pandas as pd

In [237]:
df = sns.load_dataset("tips")

In [238]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [239]:
# total bill is dependent feature (y)

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [241]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [242]:
df['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [243]:
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [244]:
df['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [245]:
# seperate x and y
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [246]:
X = df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y = df['total_bill']

In [247]:
X

      tip     sex smoker   day    time  size
0    1.01  Female     No   Sun  Dinner     2
1    1.66    Male     No   Sun  Dinner     3
2    3.50    Male     No   Sun  Dinner     3
3    3.31    Male     No   Sun  Dinner     2
4    3.61  Female     No   Sun  Dinner     4
..    ...     ...    ...   ...     ...   ...
239  5.92    Male     No   Sat  Dinner     3
240  2.00  Female    Yes   Sat  Dinner     2
241  2.00    Male    Yes   Sat  Dinner     2
242  1.75    Male     No   Sat  Dinner     2
243  3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [248]:
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [249]:
# train_test_split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [250]:
# feature encoding(label encoding)

In [251]:
from sklearn.preprocessing import LabelEncoder
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()
encoder3 = LabelEncoder()
x_train['sex'] = encoder1.fit_transform(x_train['sex'])
x_train['smoker'] = encoder2.fit_transform(x_train['smoker'])
x_train['time'] = encoder3.fit_transform(x_train['time'])

In [252]:
x_train

      tip  sex  smoker   day  time  size
228  2.72    1       0   Sat     0     2
208  2.03    1       1   Sat     0     2
96   4.00    1       1   Fri     0     2
167  4.50    1       0   Sun     0     4
84   2.03    1       0  Thur     1     2
..    ...  ...     ...   ...   ...   ...
106  4.06    1       1   Sat     0     2
14   3.02    0       0   Sun     0     2
92   1.00    0       1   Fri     0     2
179  3.55    1       1   Sun     0     2
102  2.50    0       1   Sat     0     3

[195 rows x 6 columns]

In [253]:
# whenever we have binary categories as outcomes in features use label encoding

In [254]:
# do same thing for x_test
from sklearn.preprocessing import LabelEncoder
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()
encoder3 = LabelEncoder()
x_test['sex'] = encoder1.fit_transform(x_test['sex'])
x_test['smoker'] = encoder2.fit_transform(x_test['smoker'])
x_test['time'] = encoder3.fit_transform(x_test['time'])

In [255]:
x_test.head()

      tip  sex  smoker   day  time  size
24   3.18    1       0   Sat     0     2
6    2.00    1       0   Sun     0     2
153  2.00    1       0   Sun     0     4
211  5.16    1       1   Sat     0     4
198  2.00    0       1  Thur     1     2

In [256]:
# apply onehotencoding for day feature 
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoded_day = encoder.fit_transform(x_train[['day']])

D:\Anacondaa\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [257]:
day_encoded_df = pd.DataFrame(encoded_day, columns=encoder.get_feature_names_out(['day']))

In [258]:
# do this before train-test split
pd.concat([df, day_encoded_df], axis=1)

,total_bill,tip,sex,smoker,day,time,size,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,Female,No,Sun,Dinner,2,0.0,1.0,0.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0.0,1.0,0.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,1.0,0.0,0.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0.0,0.0,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,NaN,NaN,NaN,NaN
240,27.18,2.00,Female,Yes,Sat,Dinner,2,NaN,NaN,NaN,NaN
241,22.67,2.00,Male,Yes,Sat,Dinner,2,NaN,NaN,NaN,NaN
242,17.82,1.75,Male,No,Sat,Dinner,2,NaN,NaN,NaN,NaN
243,18.78,3.00,Female,No,Thur,Dinner,2,NaN,NaN,NaN,NaN

In [259]:
# SVR

In [260]:
# from sklearn.svm import SVR
# svr = SVR()  # can play with hyperparamenter tuning

In [261]:
#svr.fit(x_train,y_train)
#svr.predict(x_test)

In [262]:
# calculate performance

# sir used columntransformer to transform day col into onehotencoding-------check it